
<div class="col justify-content-center">
    <form  method="post">
        {% csrf_token %}
        {% include "forms/formFieldsBase.html" with form=form row=false col_width=8 input_ratio=40 %}
        <div class="d-flex align-items-center gap-2 mt-2">
            <button type="submit" class="btn btn-primary" 
                    hx-post="{% url 'protocol' grid_id=grid.pk %}" hx-indicator="#spinner" 
                    hx-target="#modalShellBody" hx-swap="innerHTML">
                Save
            </button>
            <div id="spinner" class="my-indicator spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
            {% if success %}
            <div class="alert alert-success py-1 px-2 mb-0 flex-grow-1 small">
                Protocol saved successfully!
                <div class="small mt-0">
                    If the grid is currently running, you must stop and restart the session for the new protocol to be applied.
                </div>
            </div>
            {% endif %}
        </div>
    </form>
    <h4>{{protocol.name}}</h4>
    <div class="media">
        <div class="media-body">
            <pre><code id='queue' class="form-control z-depth-1 language-yaml" rows="30">{{protocolDetails}}</code></pre>
        </div>
    </div>
</div>

<script>
    $("img[id$='_help']").tooltip();
    hljs.highlightAll();
</script>
