<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasShell" 
        data-bs-backdrop="false" 
        data-bs-scroll="true">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasShellTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="offcanvasShellBody">
        <div class="text-center py-3">
            <div class="spinner-border spinner-border-sm"></div>
        </div>
    </div>
</div>