.dialogue-form {
    display: none;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 3000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 600px;
    height: 250px; /* Set a specific height */
    overflow-y: auto; /* Allow scrolling if content overflows */
    overflow-x: hidden;
}

.dialogue-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
}


