
<div class="col justify-content-center">
    <form   method="get" 
            hx-get="{% url 'getPreprocessingPipeline' %}"
            hx-target="#preprocessingPipelineForm"
            hx-indicator="#spinner"
            hx-trigger="change"
            hx-vals='{"grid_id": "{{ grid.grid_id }}"}'>
        {% if grid %}
        {% include "forms/formFieldsBase.html" with form=form row=false col_width=8 input_ratio=40 %}
        {% else %}
        {% include "forms/formFieldsBase.html" with form=form row=false%}
        {% endif %}
        <div id="spinner" class="my-indicator spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </form>
</div>

<div id="preprocessingPipelineForm">
    {% if grid %}
    {% include "./preprocessing_pipeline_form.html" with form=pipeline_form description=description pipeline=pipeline grid_id=grid.grid_id %}
    {% endif %}
</div>

{% if grid %}
{% include "./preprocessing_pipeline_process.html" with data=pipeline_data grid_id=grid.grid_id %}
{% endif %}

<script>
    $("img[id$='_help']").tooltip();
</script>
